@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] .btn-test {
  border-width: 2px;
  border-color: black;
}

body {
  @apply pt-[75px] min-h-full;
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.entry-content {
  @apply pb-10;
  h2 {
    @apply text-2xl mb-5;
  }
  h3 {
    @apply text-xl mb-2.5;
  }

  h4,
  h5,
  h6 {
    @apply text-lg;
  }

  p {
    @apply mb-4;
  }

  ul {
    @apply mb-5;
  }
}

.swiper-slide {
  border: 1px solid #fff;
  img {
    margin: auto;
  }
}
.swiper-slide-thumb-active {
  border: 1px solid #ccc;
  @apply rounded-md;
}
